:root {
    --background: #80ceac;
    --calculator: #fee196;
    --screen-border: #3b3240;
    --screen: #8eac8f;
    --button: #3b3240;
    --button-alt: #ff6a46;
}

/* CSS Reset and Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    background-color: var(--background);
    min-height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.screen-border {
    background-color: var(--screen-border);
    width: 300px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 10px;
}

.screen {
    font-family: "LCDMono2", 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: 900;
    background-color: var(--screen);
    border-radius: 5px;
    flex: 1;
    text-align: right;
    padding: 15px;
}

.buttons-grid button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Comfortaa", 'Courier New', Courier, monospace;
    padding: 10px 15px;
    color: var(--calculator);
    background-color: var(--button-alt);
}

.buttons-grid .numberButton,
    #decimal,
    #inverse {
    background-color: var(--button);
}

.calculator {
    width: 380px;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--calculator);
}

.buttons-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px 25px;
    }

.full-width {
    grid-column: 1 / span 4;
    grid-row: 6;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }