:root {
    --background: #80ceac;
    --calculator: #fee196;
    --screen-border: #3b3240;
    --screen: #8eac8f;
    --button: #3b3240;
    --button-alt: #ff6a46;
}

/* CSS Reset and Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    background-color: var(--background);
    min-height: 100%;
    font-family: "LCDMono2", 'Courier New', Courier, monospace; /* LCD Text */
    font-family: "Comfortaa", 'Courier New', Courier, monospace; /* Button Text */
}

.calculator {
    max-width: 800px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--calculator);
  }